@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    /* Pour Chrome, Safari, Edge, Opera */
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Pour Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }
}
